In [7]:
16/3

5.333333333333333

In [8]:
16%3

1

In [9]:
5*3

15

In [10]:
5**3

125

In [12]:
5^3

6

In [13]:
y = 5 ** 3

In [14]:
y

125

In [15]:
y == 125

True

In [16]:
y == 126

False

In [17]:
100 == 98

False

In [18]:
z = 1

In [19]:
z

1

In [20]:
z = 3
z

3

In [21]:
z + 5

8

In [22]:
z = 7
z

7

In [23]:
# This is just a comment and not code!

In [24]:
# This is just a comment and not code!
print(7,2)

7 2

In [25]:
# Comment 1
# Comment 2
print(300)

300

In [27]:
15 + 31 \
- 26

20

In [30]:
"Friday"[0]

'F'

In [34]:
def five(x):
    x = 5
    return x
print(five(3))

5

In [35]:
10 == 20 / 2

True

In [36]:
10 != 10

False

In [37]:
10 != 15

True

In [38]:
100 > 50

True

In [39]:
100 < 50

False

In [1]:
if 5 == 15/3:
    print("Hooray!")

Hooray!

In [2]:
if 5 == 18/3:
    print("Hooray!")
else:
    print("Oh no!")

Oh no!

In [5]:
if 5 != 18/3:
    print("Oh no!")
else:
    print("Hooray!")

Oh no!

In [3]:
def plus_ten(a):
    result = a + 10
    print("Outcome")
    return result

In [4]:
plus_ten(2)

Outcome

12

In [5]:
def wage(w_hours):
    return w_hours * 25
def with_bonus(w_hours):
    return wage(w_hours) + 50

In [9]:
wage(8), with_bonus(8)

(200, 250)

In [10]:
def add_10(m):
    if m >= 100:
        m=m+10
        return m
    else:
        return "Save more!"

In [12]:
add_10(50)

'Save more!'

In [13]:
def substract_bc(a,b,c):
    result = a - b*c
    print('Parameter a equals', a)
    print('Parameter b equals', b)
    print('Parameter c equals', c)
    return result

In [14]:
substract_bc(10,3,2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

In [15]:
substract_bc(b=3,a=10,c=2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

In [16]:
max(10,20,30)

30

In [17]:
min(10,20,30)

10

In [18]:
z= -20
abs(z)

20

In [19]:
list_1 = [1,2,3,4]
sum(list_1)

10

In [20]:
round(3.555,2)

3.56

In [21]:
round(3.2)

3

In [22]:
round(3.6)

4

In [23]:
pow(2,10)

1024

In [24]:
2**10

1024

In [27]:
len('Mathematics')

11

In [35]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [36]:
print(Participants[1])

Leila

In [37]:
Participants[-1]

'Cate'

In [38]:
Participants[3] = 'Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [39]:
del Participants[2]
Participants

['John', 'Leila', 'Maria']

In [40]:
Participants.append("Dwayne")
Participants

['John', 'Leila', 'Maria', 'Dwayne']

In [41]:
Participants.extend(['George', 'Catherine'])
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [43]:
print('The first participant is ' + Participants[0] + '.')

The first participant is John.

In [44]:
len(Participants)

6