In [3]:
16/3

5.333333333333333

In [4]:
16%3

1

In [5]:
5*3

15

In [6]:
5**3

125

In [7]:
5^3

6

In [8]:
y = 5 ** 3

In [9]:
y

125

In [10]:
y == 125

True

In [11]:
y == 126

False

In [12]:
100 == 98

False

In [13]:
z = 1

In [14]:
z

1

In [15]:
z = 3
z

3

In [16]:
z + 5

8

In [17]:
z = 7
z

7

In [18]:
# This is just a comment and not code!

In [19]:
# This is just a comment and not code!
print(7,2)

7 2

In [20]:
# Comment 1
# Comment 2
print(300)

300

In [21]:
15 + 31 \
- 26

20

In [22]:
"Friday"[0]

'F'

In [23]:
def five(x):
    x = 5
    return x
print(five(3))

5

In [24]:
10 == 20 / 2

True

In [25]:
10 != 10

False

In [26]:
10 != 15

True

In [27]:
100 > 50

True

In [28]:
100 < 50

False

In [29]:
if 5 == 15/3:
    print("Hooray!")

Hooray!

In [30]:
if 5 == 18/3:
    print("Hooray!")
else:
    print("Oh no!")

Oh no!

In [31]:
if 5 != 18/3:
    print("Oh no!")
else:
    print("Hooray!")

Oh no!

In [32]:
def plus_ten(a):
    result = a + 10
    print("Outcome")
    return result

In [33]:
plus_ten(2)

Outcome

12

In [34]:
def wage(w_hours):
    return w_hours * 25
def with_bonus(w_hours):
    return wage(w_hours) + 50

In [35]:
wage(8), with_bonus(8)

(200, 250)

In [36]:
def add_10(m):
    if m >= 100:
        m=m+10
        return m
    else:
        return "Save more!"

In [37]:
add_10(50)

'Save more!'

In [38]:
def substract_bc(a,b,c):
    result = a - b*c
    print('Parameter a equals', a)
    print('Parameter b equals', b)
    print('Parameter c equals', c)
    return result

In [39]:
substract_bc(10,3,2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

In [40]:
substract_bc(b=3,a=10,c=2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

In [41]:
max(10,20,30)

30

In [42]:
min(10,20,30)

10

In [43]:
z= -20
abs(z)

20

In [44]:
list_1 = [1,2,3,4]
sum(list_1)

10

In [45]:
round(3.555,2)

3.56

In [46]:
round(3.2)

3

In [47]:
round(3.6)

4

In [48]:
pow(2,10)

1024

In [49]:
2**10

1024

In [50]:
len('Mathematics')

11

In [51]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [52]:
print(Participants[1])

Leila

In [53]:
Participants[-1]

'Cate'

In [54]:
Participants[3] = 'Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [55]:
del Participants[2]
Participants

['John', 'Leila', 'Maria']

In [56]:
Participants.append("Dwayne")
Participants

['John', 'Leila', 'Maria', 'Dwayne']

In [57]:
Participants.extend(['George', 'Catherine'])
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [58]:
print('The first participant is ' + Participants[0] + '.')

The first participant is John.

In [59]:
len(Participants)

6

In [60]:
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [61]:
Participants[1:3]

['Leila', 'Maria']

In [62]:
Participants[:2]

['John', 'Leila']

In [63]:
Participants[4:]

['George', 'Catherine']

In [64]:
Participants[-2:]

['George', 'Catherine']

In [65]:
Participants.index("Maria")

2

In [66]:
Newcomers = ['Joshua', 'Brittany']
Newcomers

['Joshua', 'Brittany']

In [67]:
Bigger_list = [Participants, Newcomers]
Bigger_list

[['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine'],
 ['Joshua', 'Brittany']]

In [68]:
Participants.sort()
Participants

['Catherine', 'Dwayne', 'George', 'John', 'Leila', 'Maria']

In [70]:
Participants.sort(reverse=True)
Participants

['Maria', 'Leila', 'John', 'George', 'Dwayne', 'Catherine']

In [71]:
Numbers = [1,2,3,4,5]
Numbers.sort(reverse=True)
Numbers

[5, 4, 3, 2, 1]

In [73]:
Numbers1 = [15, 40, 50, 100, 115, 140]

Numbers1[2:]

[50, 100, 115, 140]

In [74]:
x = (40, 41, 42)
x

(40, 41, 42)

In [76]:
y = 50, 51, 52
y

(50, 51, 52)

In [77]:
a, b, c = 1, 4, 6
c

6

In [78]:
x[0]

40

In [79]:
list_1 = [x,y]
list_1

[(40, 41, 42), (50, 51, 52)]

In [80]:
(age, years_of_school) = "30,17".split(',')
print(age)
print(years_of_school)

30
17

In [81]:
def square_info(x):
    A = x ** 2
    P= 4 * x
    print("Area and Perimeter:")
    return A,P
square_info(3)

Area and Perimeter:

(9, 12)

In [82]:
dict = {'k1': "Cat", 'k2': "Dog", 'k3': "Mouse", 'k4': "Fish"}

dict

{'k1': 'Cat', 'k2': 'Dog', 'k3': 'Mouse', 'k4': 'Fish'}

In [83]:
dict['k1']

'Cat'

In [84]:
dict['k3']

'Mouse'

In [85]:
dict['k5'] = 'Parrot'
dict

{'k1': 'Cat', 'k2': 'Dog', 'k3': 'Mouse', 'k4': 'Fish', 'k5': 'Parrot'}

In [86]:
dict['k2'] = 'Squirrel'
dict

{'k1': 'Cat', 'k2': 'Squirrel', 'k3': 'Mouse', 'k4': 'Fish', 'k5': 'Parrot'}

In [87]:
dep_workers = {'dep_1': 'Peter', 'dep_2': ['Jennifer', 'Michael', 'Tommy']}

In [88]:
dep_workers['dep_2']

['Jennifer', 'Michael', 'Tommy']

In [89]:
Team = {}
Team['Point Guard'] = 'Dirk'
Team['Shooting Guard'] = 'Al'
Team['Small Forward'] = 'Sean'
Team['Power Forward'] = 'Alexander'
Team['Center'] = 'Hector'

print(Team)

{'Point Guard': 'Dirk', 'Shooting Guard': 'Al', 'Small Forward': 'Sean', 'Power Forward': 'Alexander', 'Center': 'Hector'}

In [90]:
print(Team['Center'])

Hector

In [91]:
print(Team.get('Small Forward'))

Sean

In [92]:
print(Team.get('Coach'))

None