In [1]:
import pandas as pd

In [2]:
operational_kpis = pd.Series(["employee satisfaction rating", "employee churn rate"])
operational_kpis

0    employee satisfaction rating
1             employee churn rate
dtype: object

In [3]:
pd.Series([operational_kpis[0].lstrip('employee'), operational_kpis[1].lstrip('employee')])

0     satisfaction rating
1              churn rate
dtype: object

In [4]:
operational_kpis.str[1]

0    m
1    m
dtype: object

In [5]:
operational_kpis[1]

'employee churn rate'

In [6]:
operational_kpis.str.lstrip('employee')

0     satisfaction rating
1              churn rate
dtype: object

In [7]:
test_series = pd.Series(['Test_data', 34])
test_series

0    Test_data
1           34
dtype: object

In [8]:
test_series.str.lstrip('Test_')

0    data
1     NaN
dtype: object

In [11]:
test_series1 = pd.Series(['Text_data', '34'])
test_series1

0    Text_data
1           34
dtype: object

In [12]:
test_series1.str.lstrip('Text_')

0    data
1      34
dtype: object

In [13]:
house_prices = pd.Series(['$400,000', '$500,000', '$600,000'])
house_prices

0    $400,000
1    $500,000
2    $600,000
dtype: object

In [14]:
house_prices.str.contains("$")

0    True
1    True
2    True
dtype: bool

In [21]:
names = pd.Series(["Martin Peterson", "John Fitzpatrick", "Kate Cruz"])

midd = names.str.split()

last_names = midd.str[1]

print(midd)

0     [Martin, Peterson]
1    [John, Fitzpatrick]
2           [Kate, Cruz]
dtype: object

In [22]:
names = pd.Series(["Martin Peterson", "John Fitzpatrick", "Kate Cruz"])

midd = names.str.split()

last_names = midd.str[1]

print(last_names)

0       Peterson
1    Fitzpatrick
2           Cruz
dtype: object

In [25]:
import pandas as pd
names = pd.Series(["Martin Peterson", "John Fitzpatrick", "Kate Cruz"])
last_names = names.str.split().str[1]
print(last_names)

0       Peterson
1    Fitzpatrick
2           Cruz
dtype: object

In [26]:
companies = ['Company A', 'Company B']
quarter = [1, 2, 3, 4]
sales_performance_prediction = ['increase', 'decrease', 'remain the same']

In [27]:
print("{} expects their next year's sales of Q{} to {}." .format(companies[0], quarter[2], sales_performance_prediction[0]))

Company A expects their next year's sales of Q3 to increase.